@page
@model LoginModel

@using Microsoft.AspNetCore.Identity
@using ZENITH.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "| Đăng Nhập - Chào Mừng Quay Lại!";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}
<!-- Auth content -->
<div class="auth__content">
    <div class="auth__content-inner">
        <a asp-controller="Home" class="logo">
            <img src="~/image/icons/zenith-logo.png" style="width: 37px; height: 37px;" alt="Zenith" class="logo__img" />
            <h2 class="logo__title" style="color:#3643BA;">Zenith</h2>
        </a>
        <h1 class="auth__heading">Chào Mừng Quay Lại!</h1>
        <p class="auth__desc">
            Chào mừng bạn quay lại đăng nhập. Là khách hàng quay lại, bạn có thể truy cập vào tất cả thông tin đã lưu trước đó.
        </p>
        <form id="account" method="post" class="form auth__form">
            <div class="form__group">
                <div class="form__text-input">
                    <input asp-for="Input.Email" class="form__input" autocomplete="username" aria-required="true" placeholder="Email" />
                    <img src="~/image/icons/message.svg" alt="" class="form__input-icon" />
                    <img src="~/image/icons/form-error.svg" alt="" class="form__input-icon-error" />
                </div>
                <p class="form__error">Email không đúng!</p>
            </div>
            <div class="form__group">
                <div class="form__text-input">
                    <input asp-for="Input.Password" class="form__input" autocomplete="current-password" aria-required="true" placeholder="Mật Khẩu" />
                    <img src="~/image/icons/lock.svg" alt="" class="form__input-icon" />
                    <img src="~/image/icons/form-error.svg" alt="" class="form__input-icon-error" />
                </div>
                <p class="form__error">Mật khẩu không đúng!</p>
            </div>
            <div class="form__group form__group--inline">
                <label class="form__checkbox" asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" type="checkbox" class="form__checkbox-input d-none" />
                    <span class="form__checkbox-label">Đặt làm mặc định</span>
                </label>
                @*Reset pass chưa làm*@
                @* <a href="./reset-password.html" class="auth__link form__pull-right">Quên mật khẩu?</a> *@
                <a href="#!" class="auth__link form__pull-right">Quên mật khẩu?</a>
            </div>
            <div class="form__group auth__btn-group">
                <button class="btn btn--primary auth__btn form__submit-btn" id="login-submit" type="submit">Đăng Nhập</button>
                <button class="btn btn--outline auth__btn btn--no-margin">
                    <img src="~image/icons/google.svg" alt="" class="btn__icon icon" />
                    Đăng nhập bằng Google
                </button>
            </div>

            @* @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
                        <div class="auth__social">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (provider.Name == "Google")
                                {
                                    <button type="submit" class="btn btn--google auth__btn" name="provider" value="@provider.Name" title="Đăng nhập bằng tài khoản @provider.DisplayName của bạn">
                                        <svg class="icon" width="20" height="20">
                                            <use xlink:href="#google"></use>
                                        </svg>
                                        Đăng nhập bằng Google
                                    </button>
                                }
                            }
                        </div>
                    </form>
                }
            } *@
        </form>

        <p class="auth__text">
            Chưa có tài khoản?
            <a asp-page="Register" class="auth__link auth__text-link">Đăng Ký</a>
        </p>
    </div>
</div>
@* <h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form__input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form__input" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

